<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Information</title>
</head>
<body>
    <H1>Students:</H1>
    {% if students %}
    <table border="2">
        <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Test Score</th>

        </thead>
        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.testScore}}</td>
            <td><a href="/delete/{{student.id}}">Delete</a></td>
            <td><a href="/update/{{student.id}}">Update</a></td>

        </tr>
        {%endfor%}
    </table> 
    {% else %}
    <p>There are no records found</p>
    {% endif %}
    <br><br><br>
    <a href="/create">Add Student</a><br><br>
    <a href="/accounts/logout">Logout</a>
</body>
</html>