<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
</head>
<body>
    <h1>Employee List</h1>
    {% if employees %}
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Email</th>
        </thead>
        {% for emp in employees %}
        <tr>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.email}}</td>
        </tr>
        {%endfor%}
    </table>
    {% else %}
    <p>No records found!!</p>
    {% endif%}
</body>
</html>