<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Items in The Cart</h1>
    {%if request.COOKIES%}
    <table>
        <thead>
            <th>Product Name</th>
            <th>Quantity</th>
        </thead>
        {%for key,value in request.COOKIES.items%}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <p>Empty Cart</p>
    {%endif%}
</body>
</html>