<!DOCTYPE html>
{%extends 'cbvApp/base.html'%}
{%block body_block%}
    <H1>Students:</H1>
    {% if student_list %}
    <table border="2">
        <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Test Score</th>

        </thead>
        {% for student in student_list %}
        <tr>
            <td><a href="/{{student.id}}">{{student.id}}</a></td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.testScore}}</td>

        </tr>
        {%endfor%}
    </table> 
    {% else %}
    <p>There are no records found</p>
    {% endif %}
    <br><br><br>
    <a href="/create">Add Student</a>
{%endblock%}